<div class="page-header">
  <h3>Clothing Item #<%= @clothing_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Item name</dt>
      <dd><%= @clothing_item.item_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/clothing_items" class="btn btn-primary">
        Back
      </a>
      <a href="/clothing_items/<%= @clothing_item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_clothing_item/<%= @clothing_item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
